
.header-dark.ant-layout-header{
    background: #001529;
}
.header-light.ant-layout-header{
    background: #ffffff;
}
.ant-switch.ant-switch-checked.switch-div,.ant-switch.switch-div{
    position: absolute;
    right: 50px;
    top: 21px;
}
.logo{
    position: absolute;
    top: 0;
    right: 100px;
    height: 60px;
    margin-right: 20px;
}
.footer{
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    padding: 50px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 社区关注点 */
h2.commTitle{
    color: #666666;
    margin: 30px 0;
}
.chart{
    display: flex;
    justify-content: center;
}
.edit-main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.append-class{
    margin-top: 20px;
}
.rdw-editor-wrapper {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    min-height: 500px;
    border: 1px solid #f1f1f1;
    border-top: 0;
    margin-bottom: 20px;
}